<h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p>

<% form_for :user, :html => { :multipart => true } do |f| %>
  <%= f.file_field :photo%>
	<p>
    <%= f.submit 'Create' %>
  </p>

<% end %>
<%= link_to 'Back', user_show_path %>
