<h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p>
  <% form_for :user, @user, :url => user_path, :html => { :multipart => true } do |form| %>
    <%= form.file_field :avatar %>
  <% end %>

